.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
    /* Full viewport height */
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;


    .image_bloc {
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        flex: 0 0 40%;
        /* 40% width for image block */
        height: auto;
    }

    .image_bloc img {
        max-height: 100%;
        /* Grow image within its block */
        width: 100%;
        height: auto;
        border-radius: 10px;
        /* Rounded corners */
        animation: shine 1.5s infinite;
        /* Apply shine animation */
    }

    .InstitutionType_ {
        flex: 0 0 60%;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.5s, opacity 0.5s;
        /* Animation on load */
        animation: fadeIn 0.5s ease-in-out;
        height: auto;
    }

    h2 {
        font-size: 28px;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
    }

    h2::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, transparent, rgba(0, 123, 255, 0.5), transparent);
        animation: shine 2s infinite;
    }

    .question1,
    .question2 {
        margin-bottom: 20px;
    }

    .check_list {
        margin-top: 10px;
    }

    .check {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .check input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #007BFF;
        border-radius: 50%;
        outline: none;
        margin-right: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .check input[type="checkbox"]:checked {
        background-color: #007BFF;
        border: 2px solid #0056b3;
    }

    button {
        width: 90%;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        margin: 0 auto;
        transition: transform 0.3s;
    }

    button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .login-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .login-section a {
        margin-left: 5px;
    }
}

.container1 {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 20px;
    text-align: center;


    h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
        animation: slideInFromTop 0.5s ease-out;
    }

    h3 {
        font-size: 20px;
        margin: 15px 0;
        color: #555;
        animation: slideInFromTop 0.5s ease-out;
    }

    .role_container {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px;
        transition: transform 0.3s, box-shadow 0.3s;
        animation: slideInFromTop 0.5s ease-out;
    }

    .role_container:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .role_container img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h2 {
        font-size: 22px;
        margin: 10px 0;
        color: #007bff;
        transition: color 0.3s;
    }

    .role_container:hover h2 {
        color: #0056b3;
    }

    p {
        font-size: 14px;
        color: #555;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    ul li {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        transition: background-color 0.3s;
    }
    
    ul li:hover {
        background-color: #e0f7fa;
    }
    
    ul li strong {
        color: #007bff;
    }
        

    button {
        width: 90%;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
        transition: background-color 0.3s;
        animation: fadeIn 1s ease-in;
    }

    button:hover {
        background-color: #0056b3;
    }

    a {
        color: #007bff;
        text-decoration: none;
        margin-top: 10px;
        display: block;
    }

    a:hover {
        text-decoration: underline;
    }

    .role_container {
        border: 2px solid transparent;
        transition: border-color 0.3s;
    }

    .role_container.selected {
        border-color: #007BFF;
    }


    @media (min-width: 600px) {
        .role_container {
            display: inline-block;
            margin: 10px;
        }
    }

    @media (max-width: 600px) {
        .container1 {
            padding: 10px;
        }
    }
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: fadeIn 1.2s ease-in-out;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
    text-align: center;


    .image-block {
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 20px;
        background-color: #e9ecef;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 65%;
        height: 100%;
    }

    .image-block img {
        max-height: 100%;
        width: 100%;
        height: auto;
        border-radius: 10px;
        animation: shine 1.5s infinite;
    }

    .register-block {
        background-color: white;
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        width: 60%;
        margin: auto;
        height: 100%;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register-block:hover {
        transform: scale(1.02);
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 15px;
        /* Increased padding */
        margin-bottom: 15px;
        border: 2px solid #007bff;
        /* Blue border */
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #0056b3;
        /* Darker blue on focus */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        /* Focus shadow */
    }

    input[name="password"] {
        width: 90%;
    }

    .pass {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .icon {
        cursor: pointer;
        margin-left: -40px;
        margin-top: -30px;
    }

    .Confidentiality {
        margin-bottom: 20px;
    }

    .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .checkbox input {
        margin-right: 10px;
        /* Space between checkbox and label */
    }

    button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        /* Added horizontal padding */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        margin: 0 auto;
        transition: background-color 0.3s, transform 0.3s;
        width: 80%;
    }

    button:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
        /* Slight lift effect on hover */
    }

    h1 {
        margin: 50px;
    }

    h3 {
        margin-top: 20px;
        text-align: center;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .login-container a {
        margin: 0 5px;
    }
}

.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4; /* Softer background color */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    animation: slideInFromTop 1s ease-out;
    height: 100vh;

    .bloc_img {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        border-radius: 8px;
        padding: 20px;
        background-color: #ffffff; /* White background for image block */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        width: 80%;
        height: 100%;
    }

    .bloc_img img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .bloc_inst {
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        width: 80%;
        margin: auto;
        height: 100%;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 28px;
        color: #333;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 18px;
        color: #666;
        margin-bottom: 20px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 5px;
        color: #444;
    }

    input[type="text"],
    input[type="tel"],
    textarea,
    select {
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s;
    }

    input:focus,
    textarea:focus,
    select:focus {
        border-color: #007bff;
        outline: none;
    }

    textarea {
        resize: vertical;
        min-height: 120px;
    }

    .phone-input {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .phone-input select {
        flex: 1;
        margin-right: 10px;
    }

    .Company.size {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .Company.size li {
        padding: 10px;
        width: 100%;
        background-color: #e6e6e6;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        border: solid 0.1px #333;
        text-align: center;
        margin-inline: 5px;
    }

    .Company.size li:hover {
        background-color: #d4d4d4;
        border-color: #0056b3;
    }

    .Company.size li.selected {
        background-color: #007bff;
        color: white;
        border-color: #0056b3;
    }

    button {
        padding: 12px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.2s;
        width: 80%;
        margin-top: 20px;
    }

    button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    button:active {
        transform: scale(0.95);
    }
}

.Container3 {
    text-align: center;
    padding: 20px;
}

.Container3 img {
    max-width: 80%;
    height: auto;
}

.Container3 div {
    font-size: 1.5em;
    margin-top: 20px;
}

.Container3 a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.Container3 a:hover {
    background-color: #0056b3;
}
.container5 {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .image_block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        flex-direction: row;
        width: 50%;
        animation: slideInFromTop 1s ease-in;
        img {
            animation: shine 2s infinite ease;
        }
      }
      
      .account_block {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        align-items: center;
        justify-content: center;
        animation: slideInFromRight 1s ease-in-out;
      }
      
      h1 {
        font-size: 24px;
        color: #007bff;
        margin-bottom: 20px;
        text-align: center;
      }
      
      .inputs {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        width: 80%;
        background-color: #f9f9f9;
      }
      
      .material-symbols-outlined {
        color: #999;
        margin-right: 10px;
      }
      
      .search_input {
        border: none;
        outline: none;
        flex: 1;
        padding: 10px;
        font-size: 16px;
        background-color: transparent;
      }
      
      .institution-list {
        margin-top: 20px;
        width: 80%;
      }
      
      .institution-item {
        display: flex;
        align-items: center;
        padding: 15px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 4px;
        background-color: #f9f9f9;
        transition: background-color 0.3s;
        cursor: pointer;
      }
      
      .institution-item:hover {
        background-color: #e9e9e9;
      }
      
      .institution-photo {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-right: 15px;
      }
      
      .institution-info {
        flex: 1;
      }
      
      .institution-info h2 {
        margin: 0;
        font-size: 18px;
        color: #1d06a0;
      }
      
      .institution-info p {
        margin: 5px 0 0;
        color: #666;
      }
      
      .no-results {
        text-align: center;
        color: #999;
        margin-top: 20px;
      }
      
      .institution-details {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
        text-align: center;
        width: 75%;
        height: auto;
      }
      
      .institution-details img {
        width: 100px;
        display: block;
        margin: 0 auto 20px;
      }
      
      .institution-details h2 {
        font-size: 22px;
        color: #333;
        text-align: center;
      }
      
      .institution-details p {
        font-size: 16px;
        color: #666;
        text-align: center;
      }
      
      .institution-details button {
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 70%;
      }
      
      .institution-details button:hover {
        background-color: #0056b3;
      }
  }
  
  
  .container6 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    animation: fadeIn 1s ease-in-out;


.image_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: row;
    width: 50%;
    animation: slideInFromRight 1s ease-in-out;
}

.image_block img {
    max-width: 100%;
    height: auto;
    animation: shine infinite ease;
}

.request_block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 90%;
    text-align: center;
    animation: slideInFromRight 1s ease;
}

.request_block h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}
}



  
  @media (max-width: 800px) {

    .Container {
        flex-direction: column;
        align-items: center;
    };
    .container5 {
      flex-direction: column;
      align-items: center;
    }
    
    .image_block {
      width: 100%;
    }
  
    .account_block {
      width: 100%;
    }

    .container6 {
        flex-direction: column;

        .image_block {
            width: 100%;
            margin-bottom: 20px;
        }
    
        .request_block {
            width: 100%;
            padding: 20px;
        }
    
        .request_block h1 {
            font-size: 20px;
        }
    
        a {
            width: 90%;
            text-align: center;
        }
    }
    .container5 {
        flex-direction: column;
        align-items: center;
    }
    
  }


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shine {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}