.CHandlerContainer {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.CH_overlay_blured {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    backdrop-filter: blur(3px);
    background-color: rgba(73, 71, 71, 0.5);
    opacity: 1;
}

Dash1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}