.container {
    width: 250px;
    color: white;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.sidebar {
    background-color: #4B68FF;
    width: 270px;
    color: white;
    padding-top: 25px;
    height: 100vh;
    animation: slideInFromLeft 0.5s ease-out
}

.SidebarHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
    div {
      font-size: 30px;
    }
}


.sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}

.sidebar nav {
  overflow-y: auto;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar nav ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 240px;
    transition: background-color 0.3s, transform 0.2s;
    align-items: center;
}
.sidebar nav ul li div {
    display: flex;
    gap: 8px;
}

.sidebar nav ul li:hover {
    background-color: #0059ff98;
    transform: scale(1.05) translateX(10px);
    width: 230px;
}

.sidebar .logout-button {
    margin-top: 20px;
    background-color: #f71326;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    
}
.sidebar .logout-button:hover {
    background-color: #e90417;
    scale: 1.1;
}

@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%); 
    }
    to {
      transform: translateX(0);
    }
  }
  
 
  @keyframes slideOutToLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 500px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 12;
        background-color: #0059ffcc;
        height: 100%;


        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }

        .logout-button {
          margin-top: 10px;
        }
    }
    .sidebar nav ul li { 
      margin: 10px 0;
      padding: 6px;
    }

    .sidebar.SlidebarOut {
      animation: slideInFromLeft 0.5 ease-in;
    }
  }

  @media (min-width: 500px) {
    .SidebarHead {
      div {
        display: none;
      }
    }
  }
  