.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;

    h2 {
        margin: 0;
    }
}

.header-left {
    flex: 1;
}

.header-left {
    display: flex;
    flex-direction: row;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.notification-icon {
    width: 25px;
    height: 25px;
    font-weight: 800;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
  top: -5px; /* Adjust this value to position the badge */
  right: -5px; /* Adjust this value to position the badge */
  background-color: red; /* Change to your preferred color */
  color: white;
  border-radius: 50%; /* Rounded corners */
  font-size: 14px;
  font-weight: bold;
  width: 18px;
  height: 18px; /* Minimum width for consistency */
  text-align: center;
  }

  .header-left_BarT {
    font-size: 30px;
    color: white;
    font-weight: 900;
  }

  @media (max-width: 500px) {
    .header-left_Obj {
        display: none;
    }
  }

  @media (min-width: 500px) {
    .header-left_BarT {
        display: none;
    }
  }